*.avi
*.bin
*.egg-info
*.ipynb_checkpoints
*.json
*.npy
*.npz
*.obj
*.pdf
*.png
*.so
*.txt
*.zip
*~
.DS_Store
.DS_Store
.idea
GPATH
GRTAGS
GTAGS
__pycache__
build
dist
src/flux/thermal.c
src/flux/cgal/aabb.cpp
stats