*.o
*.avi
*.bin
*.egg-info
*.ipynb
*.ipynb_checkpoints
*.json
*.npy
*.npz
*.obj
*.pdf
*.ply
*.png
*.so
*.tif
*.txt
*.zip
*.mat
*~
.DS_Store
.DS_Store
.idea
.sconsign.dblite
GPATH
GRTAGS
GTAGS
__pycache__
build
dist
src/flux/cgal/aabb.cpp
src/flux/thermal.c
src/flux/view_factor/view_factor.c
src/flux/cgal/CGAL/
src/flux/cgal/boost/
stats