backcall==0.2.0
cftime==1.2.1
colorcet==2.0.2
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
embree @ file:///home/sfp/LocalWorkspace/tutorial/python-embree
ipython==7.17.0
ipython-genutils==0.2.0
jedi==0.17.2
kiwisolver==1.2.0
matplotlib==3.3.0
meshio==4.1.0
netCDF4==1.5.4
numpy==1.19.1
param==1.9.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.6
ptyprocess==0.6.0
pyct==0.4.6
PyDistMesh==1.2
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.5.2
six==1.15.0
traitlets==4.3.3
wcwidth==0.2.5
